.root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #e5e5e5;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  position: relative;
}

.header__img {
  width: 100%;
  height: 667px;
  background: lightgray;
}

.logo {
  position: absolute;
  top: 69px;
  left: 51px;
  width: 207px;
  height: 25.26px;
}

.mainTitle {
  width: 890px;
  position: absolute;
  top: 245px;
  left: 275px;
}

.main__searchBar {
  width: 954px;
  height: 72px;
  position: absolute;
  top: 407px;
  left: 243px;
  background: #fff;
  border: 0;
  outline: 0;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.main__searchBar input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  margin-left: 35px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: grey;
}

.clearSearch {
  display: inline-flex;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px;
  outline: 0;
  color: grey;
  font-size: 23px;
  cursor: pointer;
}
/* 
button .fa-xmark {
    color: #000;
    font-size: 100px;
}
 */
.loopCTA {
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background: #000;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button .fa-solid {
  color: #fff;
  font-size: 30px;
}

main {
  width: 1236px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  color: yellow;
}
h1 span {
  display: block;
}

.sub__search,
#selectors {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sub__search__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}

.searchCriteria {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 63px;
  padding: 17px 16px;
  width: max-content;
  border-radius: 11px;
  background: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.total_recipes {
  font-size: 21px;
  font-family: "Anton", sans-serif;
}

#recipesSelected {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  justify-content: space-between;
  row-gap: 70px;
}

.recipeCard__layout {
  width: 380px;
  border-radius: 21px;
  background: #fff;
  position: relative;
}

.recipCard__img {
  width: 380px;
  height: 253px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  object-fit: cover;
}

.recipeDuration {
  position: absolute;
  top: 21px;
  left: 285px;
  width: 65px;
  height: 26px;
  border-radius: 14px;
  background: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipeDuration p {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: 12px;
}

.recipeCard__details {
  width: 330px;
  margin: 0 auto;
}

.recipe__name {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  color: #000;
  /* filter: drop-shadow(0 4 4 0 0.25); */
  margin-top: 20px;
}

.recipe__subTitle {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
  margin-bottom: 15px;
}

.recipe__description p {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;

  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeIngredients__list {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-between;
}

.ingredientsDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.ingredientName {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ingredientQuantityUnit {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: grey;
}

/* Search selectors */

.sub__search__container__bis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 70px; */
  }

#selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.selector__wrapper {
  width: 195px;
  min-height: 56px;
  background: #fff;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
}

.selector__criteria {
  padding: 17px 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selector__criteria i {
  font-size: 16px;
  transition: transform 0.2s linear;
}

.content {
  display: block;
  /* border: 1px solid grey; */
  padding: 17px 16px;
}

.searchBox {
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchBox input {
  height: 36px;
}

.itemDetails {
  height: 37px;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  list-style-type: none;
  padding-top: 10px;
}

.itemDetails:hover {
  background: yellow;
  cursor: pointer;
}

.searchBox i {
  color: grey;
}


/* 
p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
 */
