* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #e5e5e5;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
 /*  position: relative; */
display: flex;
flex-direction: column;

}

/* H E A D E R */
header {
 position: relative;
}

.header__img {
  width: 100%;
  height: 667px;
  background: lightgray;
}

.logo {
  position: absolute;
  top: 69px;
  left: 51px;
  width: 207px;
  height: 25.26px;
}

.mainTitle {
  width: 890px;
  position: absolute;
  top: 245px;
  left: 275px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  color: #ffd700;
}

h1 span {
  display: block;
}
/* Main search bar */
.main__searchBar {
  width: 954px;
  height: 72px;
  position: absolute;
  top: 407px;
  left: 243px;
  background: #fff;
  border: 0;
  outline: 0;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.main__searchBar input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  margin-left: 35px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: grey;
}

.main__searchBar label {
  display: flex;
  align-items: center;
  padding: 5px;
}

.clearSearch {
  /*  display: inline-flex; */
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px;
  outline: 0;
  color: grey;
  font-size: 23px;
  cursor: pointer;
}

.magnifying {
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background: #000;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.magnifying .fa-solid {
  color: #fff;
  font-size: 30px;
}
/* 
  button .fa-solid {
    color: #fff;
    font-size: 30px;
  }
   */
/* M A I N  &  S E C T I O N S   */
main {
  width: 1236px;
  margin: 0 auto;
  /*  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */

  /* border: 1px solid black; */

 /*  position: relative; */
}

/*  */
.hide {
  display: none;
}

header {
  margin: 20px 20px 50px;
}

.displayFlex {
  display: flex;
}
/* 
hr {
  margin-top: 30px;
}
 */
/* section S U B _ _ S E A R C H  and  T O T A L  R E C I P E S */

.sub__search {

  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 370px;
}
/* .criterias {
    position: absolute;
  display: flex;
  gap: 30px;
  z-index: 2;
} */
/* 
.tytytyty {
  position: absolute;
  z-index: 10;
}
 */
.criterias {
  /* 
    position: absolute;
    z-index: 10;
   */
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 70px;
}

.total_recipes {

  position: absolute;
  z-index: 10;
  right: 0px;

  align-items: start;
  font-size: 21px;
  font-family: "Anton", sans-serif;
}

/* DROPDOWN CRITERIA BOX */
/* wrapper */
.criteriaWrapper {
  display: flex;
  flex-direction: column;
  width: 195px;
  max-height: 56px; /*  */
  overflow: hidden;
  background: #fff;
  border-radius: 11px;
  margin-left: 20px;
  transition: 500ms;
}

.expand {
  max-height: 250px;
  transition: 500ms;
  margin-bottom: 15px;
}

/* 0 -Tag section */
/* 
.test {
  position: relative;
}
 */
#recipes__tags {
 /*  position: absolute; */
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin: 15px;
}

.tag__wrapper {
  min-width: 100px;
  max-width: fit-content;
  height: 53px;
  background: #ffd700;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0px 4px 4px 0 rgba(0 0 0 0.25);
  cursor: pointer;
}

.tag__wrapper p {
  pointer-events: none;
}

.closeCrossTag {
  margin-left: 10px;
  pointer-events: none;
}

/* 1 - Header: title & chevron handling  */


.criteria__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 56px; /*  */
  flex-shrink: 0;
  margin: 0px 10px;
  cursor: pointer;
}

.criteria__header p {
  font-size: 16px;
  color: #000;
  pointer-events: none;
}

.criteria__header span {
  pointer-events: none;
}

.criteria__header span i {
  pointer-events: none;
  transition: all 500ms;
}

.criteria__open {
  transform: rotate(180deg);
  transition: all 500ms;
}

/* 2 - input box & delete cross & magnify icon */

.criteria__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 175px; */
  height: 36px;
  margin: 0 0px;
  padding-bottom: 15px;
}

.input-control {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 17px 16px; */
  border: 1px solid lightgrey;
  border-radius: 2px;
  caret-color: lightgrey;
  /* width: 195px;
    height: 56px; */
}
.input-control input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: grey;
  caret-color: lightgrey;
  padding-right: 10px;
  padding: 7px;
  outline: 0;
  border: 0;
}

.input-control label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.input-control label i {
  color: lightgrey;
  display: inline-block;
  padding: 0 0 0 10px;
}

.input-control label .clearSearch {
  /*  display: inline-flex; */
  display: none;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px;
  outline: 0;
  color: grey;
  font-size: 17px;
  cursor: pointer;
}
/* 
.input-control label span i{
  display: flex;
} */
/*  none; .closeCross */
/*  */
.para_indv_item{
  padding: 10px 10px 20px;
  font-weight: 700;
}

.para_indv_item:hover{
  background: #ffd700;
}



/* 3 - Selected item  */

#item__selected {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  margin: 10px 0;
}

#item__selected:hover {
  background: #ffd700;
}

#item__selected p {
  color: #000;
  font-weight: 700;
  margin: 17px 16px;
}

.iconXmark {
  margin-right: 10px;
}

/* List of items */
/* 
.item__list {
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
}
 */

.item__selected {
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
}

.input-control {
  margin: 10px 10px;
}
/* 
.criteria ul {
  overflow: hidden;
  overflow-y: auto;
  padding: 10px 0;
}
 */
li {
  padding: 10px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 19px;
}

li .recipeItem p {
  list-style-type: none;
  text-decoration: none;

  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  pointer-events: none;
}

li i,
li p {
  pointer-events: none;
}

.recipeItem:hover {
  background-color: #ffd700;
  font-weight: 700;
}

.recipeAsTag {
  background : #ffd700;
  font-weight : 700;
}

/* section S E L E C T E D  R E C I P E S  D I S P L A Y */

#recipesSelected {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  justify-content: space-between;
  row-gap: 70px;
}
/* R E C I P E  C A R D S */
.recipeCard__layout {
  width: 380px;
  border-radius: 21px;
  background: #fff;
  position: relative;
}

.recipCard__img {
  width: 380px;
  height: 253px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  object-fit: cover;
}

.reciCard__duration {
  position: absolute;
  top: 21px;
  left: 285px;
  width: 65px;
  height: 26px;
  border-radius: 14px;
  background: #ffd700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reciCard__duration p {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: 12px;
}

.recipeCard__details {
  width: 330px;
  margin: 0 auto;
}

.recipe__name {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  color: #000;
  /* filter: drop-shadow(0 4 4 0 0.25); */
  margin-top: 20px;
}

.recipe__subTitle {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
  margin-bottom: 15px;
}

.recipe__description p {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;

  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeIngredients__list {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-between;
}

.ingredientsDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ingredientName {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ingredientQuantityUnit {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: grey;
}

footer {
  height: 50px;
}